<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aether RPG/src/com/aether/present/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aether.present.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aether RPG"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&quot;C:\Documents and Settings\gpelcha\My Documents\My Code\jME2\jME2\lib\lwjgl\native\windows&quot;;&quot;C:\Documents and Settings\gpelcha\My Documents\My Code\jME2\jME2Physics\impl\ode\lib&quot;"/>
</launchConfiguration>
